body{
   background: linear-gradient(rgb(181, 181, 244),rgb(190, 240, 240));
   background-size: cover;
   background-repeat: no-repeat;
   width:100vw;
   height: 100vh;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}
